/* Other rules */
:root {
  --dark-grey: #2e3333;
  --light-grey: #868a8a;
}
html {
  box-sizing: border-box;
}
.App {
  box-sizing: border-box;
  /* font-family: "Montserrat", sans-serif; */
}
h1 {
  color: var(--dark-grey);
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}
h2 {
  color: var(--dark-grey);
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
h3 {
  color: var(--dark-grey);
  font-weight: bold;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0 0 0.5rem;
}
p {
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--light-grey);
}
/*------------------------------------------------------*/
/*-------------------------TOPBAR-----------------------*/
/*------------------------------------------------------*/
.top-bar {
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.top-bar .logo {
  width: 1200px;
  margin: 0 auto;
}
.top-bar .logo img {
  height: 42px;
}

/*------------------------------------------------------*/
/*-------------------------HERO-----------------------*/
/*------------------------------------------------------*/

.hero {
  width: 1200px;
  margin: 20px auto;
  display: flex;
}
.hero div:first-child {
  flex: 7;
}
.hero div:last-child {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero div:last-child img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

/*------------------------------------------------------*/
/*-------------------------MEALS-----------------------*/
/*------------------------------------------------------*/

.content {
  background-color: #f3f5f5;
}
.content .container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.content .menu {
  flex: 7;
}

.content .menu .meal-items {
  display: flex;
  flex-wrap: wrap;
}

.content .menu .meal-items .meal-item {
  width: calc(50% - 10px);
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
.content .menu .meal-items .meal-item {
  margin-right: 10px;
}
/* ----------------------picture--------------------------- */
.content .menu .meal-items .meal-item .picture img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.content .menu .meal-items .meal-item div:first-child {
  /* padding: 0 20px; */
  /* min-width: 230px; */
}

.content .menu .meal-items .meal-item div:first-child p {
  font-size: 0.9rem;
  color: #808484;
  line-height: 1.3rem;
  margin-top: 0.5rem;
}
.content .meal-items .meal-item div:first-child div .price {
  font-size: 1.1rem;
  line-height: 1.4rem;
  height: 2.6rem;
  margin-top: 0.5rem;
  margin-right: 10px;
}
.content .meal-items .meal-item div:first-child div {
  display: flex;
  justify-content: flex-start;
}
.content .meal-items .meal-item div:first-child div p:last-child {
  color: #ff8000;
  font-size: 0.9rem;
  font-weight: bold;
}

.content .meal-items .meal-item .picture img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

/*------------------------------------------------------*/
/*-------------------------CARD-----------------------*/
/*------------------------------------------------------*/
.content .cart {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  flex: 3;
  margin-top: 1rem;
}
.content .cart .Cart--card {
  box-shadow: 0 22px 24px 0 rgb(46 51 51 / 7%);
  background: #fff;
  border-radius: 4px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 30px 0;
}
.content .cart .Cart--validate {
  display: block;
  margin: 10px;
  border-radius: 5px;
  padding: 1rem;
  background: #00cdbd;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
}
.content .cart .Cart--items {
  border-bottom: 1px solid #d1d7d7;
  margin: 0 10px;
  max-height: calc(100vh - 300px);
  overflow: auto;
  box-sizing: border-box;
}
.content .cart .Cart--items .Cart--item-name {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #808484;
}
.content .cart .Cart--items .Cart--line {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
  box-sizing: border-box;
}

.content .cart .Cart--items .Cart--line .Cart--item-name {
  flex: 1;
}
.content .cart .Cart--items .Cart--line .Cart--amount {
  width: 85px;
  text-align: right;
  box-sizing: border-box;
}
.content .cart .Cart--items .Cart--line .Cart--counter {
  margin-right: 10px;
}
.content .cart .Cart--card .Cart--results {
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: 1px solid #d1d7d7;
}

.content .cart .Cart--card .Cart--results .Cart--result-line {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.content
  .cart
  .Cart--card
  .Cart--results
  .Cart--result-line
  .Cart--result-name {
  flex: 1;
}
.content .cart .Cart--card .Cart--results .Cart--result-line .Cart--amount {
  width: 85px;
  text-align: right;
}
.content .cart .Cart--card .Cart--results .Cart--total {
  display: flex;
  align-items: flex-start;
  padding: 1.3rem 0;
  margin: 0 10px;
  font-weight: 600;
  font-size: 1.2rem;
}
.content .cart .Cart--card .Cart--results .Cart--total .Cart--result-name {
  flex: 1;
}
.content .cart .Cart--card .Cart--results .Cart--total .Cart--amount {
  width: 85px;
  text-align: right;
}

/*------------------------------------------------------*/
/*-------------------------FOOTER-----------------------*/
/*------------------------------------------------------*/
.footer {
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
